{{ define "main" }}
<h1>{{ .Title }}</h1>

<div class="text-lg mb-4">
    {{ .PublishDate.Format "January 2, 2006" }}
</div>

<!-- <div class="text-sm mb-4"> -->
<!--     {{ .ReadingTime }} min. read -->
<!-- </div> -->
<hr class="mb-4">
</hr>

<div>
    {{ .Content }}
</div>

<hr class="mb-4">
</hr>

{{ if .Lastmod.After .PublishDate }}
<div class="text-sm mb-1">
    Updated {{ .Lastmod.Format "January 2, 2006" }}
</div>
{{ end }}

<div class="flex">
    <div class="text-sm mr-1">Tagged with</div>
    {{ with .GetTerms "tags" }}
    {{ range . }}
    <div class="outline rounded-sm outline-offset-1 text-sm cursor-pointer hover:bg-neutral-100 py-0 px-0.5 mr-2"
        onclick="window.location='{{ .Permalink }}'; event.stopPropagation();">#{{ .Title }}</a>
    </div>
    {{ end }}
    {{ end }}
</div>

<!-- <div class="flex justify-between gap-4"> -->
<!--     {{ with .PrevInSection }} -->
<!--     <div class=""> -->
<!--         ← Previous -->
<!--         <br> -->
<!--         <a class="normal" href="{{ .RelPermalink }}">{{ .Title }}</a> -->
<!--     </div> -->
<!--     {{ end }} -->
<!---->
<!--     {{ with .NextInSection }} -->
<!--     <div class="text-right"> -->
<!--         Next → -->
<!--         <br> -->
<!--         <a class="normal" href="{{ .RelPermalink }}">{{ .Title }}</a> -->
<!--     </div> -->
<!--     {{ end }} -->
<!-- </div> -->
{{ end }}
