<header>
    <div class="flex items-center gap-2 mb-4 font-semibold">
        <img class="w-12 h-12 cursor-pointer" onclick="window.location='/'" src="/logo.svg">
        <a class="font-semibold" href="/">Henrik zu Jeddeloh</a>
        <!-- {{ range .Ancestors.Reverse }} -->
        <!-- <div> -->
        <!--     <a class="font-normal" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a> -->
        <!-- </div> -->
        <!-- <div class="font-normal">/</div> -->
        <!-- {{ end }} -->
        <!-- <div> -->
        <!--     <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a> -->
        <!-- </div> -->
    </div>
</header>
