<nav class="sticky h-screen top-0 lg:w-48 w-32 text-right p-4 hidden md:block flex-none">
    <ul class="space-y-2">
        <li>
            <a {{ if eq .Path "/" }} class="font-semibold" {{ end }} href="/">Home</a>
        </li>
        <li>
            <a {{ if (hasPrefix .Path "/writing") }} class="font-semibold" {{ end }} href="/writing/">Writing</a>
        </li>
        <li>
            <a {{ if eq .Path "/reading" }} class="font-semibold" {{ end }} href="/reading/">Reading</a>
        </li>
        <li>
            <a {{ if eq .Path "/about" }} class="font-semibold" {{ end }} href="/about/">About</a>
        </li>
    </ul>
</nav>

<nav class="md:hidden p-4 space-x-2">
    <a {{ if eq .Path "/" }} class="font-semibold" {{ end }} href="/">Home</a>
    <a {{ if (hasPrefix .Path "/writing") }} class="font-semibold" {{ end }} href="/writing/">Writing</a>
    <a {{ if eq .Path "/reading" }} class="font-semibold" {{ end }} href="/reading/">Reading</a>
    <a {{ if eq .Path "/about" }} class="font-semibold" {{ end }} href="/about/">About</a>
    <a {{ if eq .Path "/more" }} class="font-semibold" {{ end }} href="/more/">More</a>
</nav>
