{{ $rating := . }}
{{ $full_stars := math.Floor $rating }}
{{ $half_stars := and (gt $rating $full_stars) (lt $rating (add $full_stars 1)) }}
<div class="flex items-center">
    {{ range seq 1 5 }}
    {{ if le . $full_stars }}
    <picture>
        <source srcset="/star-full-light.svg" media="(prefers-color-scheme: light)">
        </source>
        <source srcset="/star-full-dark.svg" media="(prefers-color-scheme: dark)">
        </source>
        <img class="w-4 h-4" src="/star-full-light.svg">
    </picture>
    {{ else if (and $half_stars (eq . (add (int $full_stars) 1))) }}
    <picture>
        <source srcset="/star-half-light.svg" media="(prefers-color-scheme: light)">
        </source>
        <source srcset="/star-half-dark.svg" media="(prefers-color-scheme: dark)">
        </source>
        <img class="w-4 h-4" src="/star-half-light.svg">
    </picture>
    {{ else }}
    <picture>
        <source srcset="/star-empty-light.svg" media="(prefers-color-scheme: light)">
        </source>
        <source srcset="/star-empty-dark.svg" media="(prefers-color-scheme: dark)">
        </source>
        <img class="w-4 h-4" src="/star-empty-light.svg">
    </picture>
    {{ end }}
    {{ end }}
</div>
