@import "tailwindcss";
@source "hugo_stats.json";

@font-face {
    font-family: Jost;
    src: url('/fonts/Jost-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Jost;
    src: url('/fonts/Jost-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Jost;
    src: url('/fonts/Jost-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Jost;
    src: url('/fonts/Jost-BoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}


@theme {  --font-display: "Jost", sans-serif; }

a {
    @apply underline hover:bg-neutral-100;
}

p {
    @apply text-base mb-4;
}

h1, h2, h3, h4 {
    @apply font-bold mb-4;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-xl;
}

h3 {
    @apply text-lg;
}

h4 {
    @apply text-base;
}

/* ul { */
/*     @apply list-disc pl-4 mt-2; */
/* } */
/**/
/* ol { */
/*     @apply list-decimal pl-4 mt-2; */
/* } */


#TableOfContents ul {
    @apply space-y-4 list-none;
}

#TableOfContents ul ul {
    @apply pl-4 space-y-2 mt-2;
}

#TableOfContents > ul > li > a {
    @apply font-semibold;
}

/* #TableOfContents a { */
/*     @apply hover:underline; */
/* } */
