@import "tailwindcss";
@source "hugo_stats.json";

html {
    font-size: 18px;
}

@font-face {
    font-family: Jost;
    src: url('/fonts/Jost-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Jost;
    src: url('/fonts/Jost-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Jost;
    src: url('/fonts/Jost-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Jost;
    src: url('/fonts/Jost-BoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}


@theme {  
    --font-display: "Jost", sans-serif; 
    --text-xs: 14px;
    --text-sm: 16px;
    --text-base: 18px;
    --text-lg: 20px;
    --text-xl: 24px;
    --text-2xl: 30px;
    --text-3xl: 36px;
    --text-4xl: 48px;
}

a {
    @apply underline hover:bg-neutral-100;
}

p {
    @apply mb-4;
}

h1, h2, h3, h4 {
    @apply font-bold mb-4;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-xl;
}

h3 {
    @apply text-lg;
}

h4 {
    @apply text-base;
}

main ul {
    @apply list-disc pl-4 mb-2;
}

main ol {
    @apply list-decimal pl-4 mb-2;
}


#TableOfContents ul {
    @apply space-y-4 list-none;
}

#TableOfContents ul ul {
    @apply pl-4 space-y-2 mt-2;
}

#TableOfContents > ul > li > a {
    @apply font-semibold;
}

/* #TableOfContents a { */
/*     @apply hover:underline; */
/* } */
