@import "tailwindcss";
@source "hugo_stats.json";

/* @custom-variant dark (&:where(.dark, .dark *)); */

html {
    font-size: 18px;
}

@font-face {
    font-family: Jost;
    src: url('/fonts/Jost-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: Jost;
    src: url('/fonts/Jost-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Jost;
    src: url('/fonts/Jost-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Jost;
    src: url('/fonts/Jost-BoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@media (prefers-color-scheme: dark) {
    body {
        @apply bg-neutral-800 text-creme-50;
    }
    footer {
        @apply text-creme-300
    }
    svg {
        @apply fill-creme-50 stroke-creme-50;
    }
    a {
        @apply hover:bg-creme-950;
    }
    hr {
        @apply my-4 border-creme-300;
    }
}

@media (prefers-color-scheme: light) {
    body {
        @apply bg-creme-50 text-neutral-800;
    }
    footer {
        @apply text-creme-800;
    }
    svg {
        @apply fill-neutral-800 stroke-neutral-800;
    }
    a {
        @apply hover:bg-creme-100;
    }
    hr {
        @apply my-4 border-creme-800;
    }
}

@theme {  
    --font-display: "Jost", sans-serif; 
    --text-xs: 14px;
    --text-sm: 16px;
    --text-base: 18px;
    --text-lg: 20px;
    --text-xl: 24px;
    --text-2xl: 30px;
    --text-3xl: 36px;
    --text-4xl: 48px;
    --color-creme-50: #FFFCF5;
    --color-creme-100: #F2EFE9;
    --color-creme-200: #E4E2DD;
    --color-creme-300: #D7D5D0;
    --color-creme-400: #CAC9C5;
    --color-creme-500: #BEBCB9;
    --color-creme-600: #B1B0AD;
    --color-creme-700: #A4A4A2;
    --color-creme-800: #989896;
    --color-creme-900: #8C8C8B;
    --color-creme-950: #808080;
    --color-selection: #F5F8FF;
    }

a {
    @apply underline;
}

p {
    @apply my-6 tracking-wide leading-7;
}

h1, h2, h3, h4 {
    @apply font-bold mb-2;
}

h1 {
    @apply text-3xl mt-4;
}

h2 {
    @apply text-2xl mt-8;
}

h3 {
    @apply text-xl mt-8;
}

h3 {
    @apply text-lg mt-8;
}

h4 {
    @apply text-base mt-8;
}

main ul {
    @apply list-disc pl-4 -mt-4 mb-2;
}

main ol {
    @apply list-decimal pl-4 -mt-4 mb-2;
}


#TableOfContents ul {
    @apply space-y-4 list-none;
}

#TableOfContents ul ul {
    @apply pl-4 space-y-2 mt-2;
}

#TableOfContents > ul > li > a {
    @apply font-semibold;
}

/* #TableOfContents a { */
/*     @apply hover:underline; */
/* } */
