{{ define "main" }}
<div>
    <h1 class="text-2xl font-bold mb-4">Posts tagged with "{{ .Title }}"</h1>
    {{ range where .Site.Pages.ByPublishDate "Params.layout" "post" }}
    <ul>
        <li class="w-full flex-col mb-4 cursor-pointer" onclick="window.location=' {{ .RelPermalink }}'">
            <div class="block group border hover:outline p-2">
                <div class="flex justify-between">
                    <span class="font-semibold underline">{{ .LinkTitle }}</span>
                    <time class="not-italic font-mono">{{ .PublishDate.Format "2006-01-02" }}</time>
                </div>
                <p>{{ .Params.description }}</p>
            </div>
        </li>
    </ul>
    {{ end }}
</div>
{{ end }}
