<figure class="mb-4">
    <picture>
        <source media="(max-width: 767px)" srcset="{{ strings.TrimSuffix (path.Ext .Destination) .Destination }}-800{{ path.Ext .Destination }}">
        <source media="(min-width: 768px)" srcset="{{ strings.TrimSuffix (path.Ext .Destination) .Destination }}-1200{{ path.Ext .Destination }}">
        <img src="{{ strings.TrimSuffix (path.Ext .Destination) .Destination }}-1200{{ path.Ext .Destination }}"
             class="mx-auto"
             {{- with .PlainText }} alt="{{ . }}" {{ end -}}
             {{- with .Title }} width="{{ . }}" {{ end -}}
             loading="lazy">
    </picture>
    {{- with .PlainText }}<figcaption class="text-center w-full mt-2">{{ . }}</figcaption>{{ end -}}
</figure>
