{{ $small_width := 800 }}
{{ $large_width := 1200 }}
<figure>
    <img src="{{ strings.TrimSuffix (path.Ext .Destination) .Destination }}-{{ $large_width }}{{ path.Ext .Destination }}"
        srcset="{{ strings.TrimSuffix (path.Ext .Destination) .Destination }}-{{ $small_width }}{{ path.Ext .Destination }} {{ $small_width }}w, {{ strings.TrimSuffix (path.Ext .Destination) .Destination }}-{{ $large_width }}{{ path.Ext .Destination }} {{ $large_width }}w"
        sizes="(max-width: {{ $large_width }}) 100vw, 50vw" class="mx-auto" {{- with .PlainText }} alt="{{ . }}" {{ end
        -}} {{- with .Title }} width="{{ . }}" {{ end -}} loading="lazy">
    {{- with .PlainText }}<figcaption class="text-center w-full mt-2">{{ . }}</figcaption>{{ end -}}
</figure>
